# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    locale: 'en'
    app.notifications.email_sender: admin@localhost
    api_media_base_url: '%env(API_MEDIA_BASE_URL)%'
    api_notification_base_url: '%env(API_NOTIFICATION_BASE_URL)%'
    logo_directory: '%kernel.project_dir%/public/uploads/logo'
    post_directory: '%kernel.project_dir%/public/uploads/post'
    app.moderation.banned_words:
        - spam
        - violence
        - terror
        - abuse
        - scam
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/*/Infrastructure/DataFixtures/'
            - '../src/DependencyInjection/'
            - '../src/*/Domain/Entity/'
            - '../src/*/Transport/EventListener/'
            - '../src/Kernel.php'

    Cocur\Slugify\SlugifyInterface:
        alias: Cocur\Slugify\Slugify

    Cocur\Slugify\Slugify: ~

    App\Blog\Transport\EventListener\CacheInvalidationListener:
        tags:
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: postUpdate }
            - { name: doctrine.event_listener, event: postRemove }

    App\Blog\Transport\EventListener\SlugListener:
        arguments:
            $slugify: '@Cocur\Slugify\SlugifyInterface'
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }

    app.serializer.normalizer.object.external_message:
        class: Symfony\Component\Serializer\Normalizer\ObjectNormalizer
        autoconfigure: false
        arguments:
            $nameConverter: '@serializer.name_converter.camel_case_to_snake_case'

    app.serializer.denormalizer.array.external_message:
        class: Symfony\Component\Serializer\Normalizer\ArrayDenormalizer
        autoconfigure: false

    app.serializer.normalizer.date_time.external_message:
        class: Symfony\Component\Serializer\Normalizer\DateTimeNormalizer
        autoconfigure: false
        arguments:
            - { datetime_format: 'Y-m-d H:i:s' }

    app.serializer.encoder.json.external_message:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder
        autoconfigure: false

    app.serializer.external_message:
        class: Symfony\Component\Serializer\Serializer
        autoconfigure: false
        arguments:
            $normalizers:
                - '@app.serializer.normalizer.date_time.external_message'
                - '@app.serializer.normalizer.object.external_message'
                - '@app.serializer.denormalizer.array.external_message'
            $encoders:
                - '@app.serializer.encoder.json.external_message'


    # Blog domain services
    App\Blog\Application\Service\Blog\BlogService:
        arguments:
            $logoDirectory: '%logo_directory%'

    # Post domain services
    App\Blog\Application\Service\Post\PostService:
        arguments:
            $postDirectory: '%post_directory%'

    # Moderation domain services
    App\Blog\Application\Service\Moderation\ContentModerationService:
        arguments:
            $bannedWords: '%app.moderation.banned_words%'

    Symfony\Contracts\Cache\TagAwareCacheInterface: '@cache.app.taggable'

when@dev:
    services:
        _defaults:
            autowire: true
            autoconfigure: true

        App\Blog\Infrastructure\DataFixtures\:
            resource: '../src/Blog/Infrastructure/DataFixtures/*'

        App\Tests\TestCase\:
            resource: '../tests/TestCase/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'

        ProxyManager\Factory\AccessInterceptorValueHolderFactory:
            class: ProxyManager\Factory\AccessInterceptorValueHolderFactory

        doctrine.dbal.default_connection.stopwatch:
            class: Doctrine\DBAL\Connection
            decorates: doctrine.dbal.default_connection
            factory: [ '@Bro\WorldCoreBundle\Application\Decorator\StopwatchDecorator', decorate ]
            arguments: [ '@doctrine.dbal.default_connection.stopwatch.inner' ]

        symfony.component.serializer.stopwatch:
            class: Symfony\Component\Serializer\Serializer
            decorates: serializer
            factory: [ '@Bro\WorldCoreBundle\Application\Decorator\StopwatchDecorator', decorate ]
            arguments: [ '@symfony.component.serializer.stopwatch.inner' ]

when@test:
    services:
        _defaults:
            autowire: true
            autoconfigure: true
            public: true

        App\Blog\Infrastructure\DataFixtures\:
            resource: '../src/Blog/Infrastructure/DataFixtures/*'

        App\Tests\TestCase\:
            resource: '../tests/TestCase/*'

        App\Tests\Utils\:
            resource: '../tests/Utils/*'
